header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    background: linear-gradient(to bottom, black 10%, transparent 90%);
    transition: all ease 0.5s;
}
header.black{
   background-color: black;
   
}
.logo{
    height: 50px;
}
.logo img{
    height: 100%;
}
.user{
    height: 40px;
}
.user img{
    height: 100%;
    border-radius: 5px;
}
.Menu a {
    text-decoration: none;
    margin-left: 35px;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Menu a:hover{
    opacity: 0.3;
    transition: all ease 0.2s;
}
.Menu{
    position: absolute;
    margin-left: 200px;
}
.Search{
    text-decoration: none;
    border: none;
    opacity: 0.7;
    position: absolute;
    right: 0;
    margin-right: 100px;
}
@media (max-width:760px){
    .Menu{
        opacity: 1;
        font-size: 15px;
        left: 0;
        margin: 0;
        margin-top: 35px;
        margin-left: 20px;
    }
    .Menu a{
        left: 0;
        margin-left: 15px;
    }
    .logo{
        height: 25px;
        margin-top: -25px;
    }
    .user{
        height: 30px;
        margin-top: -25px;
    }
}